body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


nav {
    height: 60px;
    background-color: gray;
    display: flex;
    padding-left: 70%;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

li {
    padding-right: 60px;
}

.navlink {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.city {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    box-shadow: 10px 10px 5px gray;
    width: 450px;
    height: 580px;
}

.img {
    width: 450px;
    height: 350px;
    background-size: cover;
    background-position: center;
}

.paris {
    background-image: url('../img/paris.jpg');
}

.tokyo {
    background-image: url('../img/tokyo.jpg');
}

.newyork {
    background-image: url('../img/new-york.jpeg');
}

.text {
    text-align: justify;
    padding: 10px 30px 10px 30px;
}

.link {
    width: 35%;
    height: 8%;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.purple {
    background-color: blueviolet;
}

.orange {
    background-color: orangered;
}

.blue {
    background-color: rgb(0, 110, 255);
}

a:hover {
    background-color: black;
}

@media screen and (max-width:900px){

    main {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

}

@media screen and (max-width:700px){
    
    main {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

}

@media screen and (max-width:500px){
    
    main {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
    }

}

